/* start cars search */

/* end cars search */
     .cars-detais{
        background-color: $main-color;
        border-radius: 5px;
         /*start title cars */
                &-top{
                    width: 70%;
                    margin: auto;
                    margin-top: 10px;
                    div{
                        border-bottom: 1px solid green;
                        span{
                            margin-top: 15px;
                            font-weight: 900;
                            font-size: 20px;
                        }

                    }
                    ul{
                        display: flex;
                        border-bottom: 1px solid red;
                        li{
                            margin-left: 30px;
                            border-right: 1px solid red;
                            padding-right: 20px;
                        }
                    }


                }
         /* end title cars */
                &-car-img{
                    .slider-content{
                        &-img{
                            margin-bottom: 60px!important;
                            max-width: 600px;
                            height: 400px;

                            img{
                                width: 100%;
                                margin-left: 14%;
                            }
                        }

                    }

            }
            &-car-info-g{
                ul{
                    margin-top: 25px;
                    margin-left: 50px;
                    li{
                        margin-bottom: 10px;
                    }
                }
                i{
                    font-size: 30px;
                    color: $main-color;
                }
                span{
                    font-size: 20px;
                    font-weight: 700;
                }
            }
            &-car-desciption {
            box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.618);
                padding: 5px;
                h1{
                    font-weight: 900;
                    text-decoration: underline;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 20px;
                }
            }
            .cars-detais-car-info-vnd{
                margin-top: 10px;
                h3{
                    margin-bottom: 6px;
                    font-weight: 800;
                }
                h1{
                    width: 80%;
                    padding: 3px;

                }
            }

    }

/* dddddd */
/* responsive */

@media screen and (max-width:580px) {

    .cars-detais{
        /*start title cars */
               &-top{
                   div{


                    span{
                        margin-top: 5px;
                        font-weight: 900;
                        font-size: 15px;
                    }

                   }
                   ul{
                       li:not(:first-child){
                        display: none;
                       }
                       li{
                        border:none ;
                        font-size: 15px;
                        font-weight:900;
                       }
                   }


               }
        /* end title cars */
           .carousel-indicators{
            img{
                max-width: 60px!important;
            }

           }
           &-car-img{
            .slider-content{
                margin-bottom: 10px;
                &-img{
                    img{
                        width: 100%;
                        margin-left: 0%;
                    }
                }

            }

    }

   }
}

