$main-color:#f3a708;
$color-white:#fff;
$color-black:black;
$color-dark-opacity:#000000c4;
$color-gray:#6c757d36;
$color-green:rgba(0, 252, 113, 0.522);
$gray-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
$font-roboto:'Merriweather Sans', sans-serif;